@media (max-width: 768px) {
.home-container {
    width: 650px;
}

.fortyfive-logo {
    margin: 26px 0 0 0;
    width: 81.5px;
    height: 81.5px;
    border-width: 1px;
    background-size: 90px;
}

.vert-line {
    margin: 110px 0 0 0;
    width: 1px;
     height: 29px;
}

.horiz-line {
    margin: 139px 0 0 0;
    width: 478.2px;
    height: 1px;
}

#djdan-logo {
    margin: 157px 0 0 0;
    width: 478.2px;
    height: 108px;
    background-size: 254px;
}

#social-links {
    margin: 280px 0 0 0;
    width: 478.2px;
    height: 55px;
}

#fb {
    width: 41px;
    height: 41px;
    background-size: 40px;
}

#ig {
    width: 41px;
    height: 41px;
    background-size: 40px;
}

#sc {
    width: 55px;
    height: 41px;
    background-size: 54px;
}

#tw {
    width: 48px;
    height: 41px;
    background-size: 47px;
}

#menu-cont {
    margin: 337px 0 0 0;
    font-size: 19px;
    letter-spacing: .05rem;
    width: 478.2px;
    height: 20%;
}

ul {
    width: 191.5px;
    border-width: 1px;
    border-radius: 5px;
}

li {
    padding-top: 8.2px;
    margin-bottom: 8.2px;
    border-width: 1px;
}

.vert-line-menu {
    width: 1px;
    height: 29px;
}

.horiz-line-menu {
    width: 478.2px;
    height: 1px;
}

/*PAGES/SECTIONS//////////////////////////////////////////*/

#bio-pg,
#tour-pg,
#gallery-pg,
#music-pg,
#contact-pg {
    margin: 27.2px auto 0 auto;
    width: 683px;
    border-radius: 10px;
}

.close-button {
    left: 642px;
    margin: 6.8px;
    font-size: 24px;
}

#dan-logo-sm {
    margin: -23px 0 0 15.5px;
    width: 112px;
    height: 46px;
    background-size: 111px;
}

.sect-header {
    top: 3px;
    margin: -9.5px 13.7px 13.7px 139.5px;
    font-size: 25.5px;
}

hr {
    margin: 13.7px;
    height: 1px;
}

/*BIO CONTENT//////////////////////////////////////////*/

#bio-cont,
#tour-cont,
#gallery-cont,
#music-cont,
#contact-cont {
    flex-direction: row;
    padding: 6.8px 13.7px 13.7px 13.7px !important;
    width: 655px;
    font-size: 16px;
}

#dan-pic {
    width: 273px;
    height: 438px;
}

#dan-bio {
    width: 355px;
}

#dan-bio-text {
    letter-spacing: -.27px !important;
    line-height: 16px !important;
}

/*TOUR CONTENT//////////////////////////////////////////*/

iframe {
    width: 650px;
    height: 800px;
}

/*MUSIC CONTENT//////////////////////////////////////////*/

#sound-text {
    margin-top: -10.5px;
}

#soundcloud-link {
    width: 325px;
    height: 110px;
    background-size: 137px;
}

#mixcloud-link {
    width: 325px;
    height: 110px;
    background-size: 197px;
}

#beatport-link {
    width: 325px;
    height: 110px;
    background-size: 172px;
}

#traxsource-link {
    width: 325px;
    height: 110px;
    background-size: 244px;
}

#spotify-link {
    width: 325px;
    height: 110px;
    background-size: 173px;
}

#discogs-link {
    width: 325px;
    height: 110px;
    background-size: 121px;
}

/*CONTACT CONTENT//////////////////////////////////////////*/

#contact-info {
    width: 314px;
}

form {
    width: 300.5px;
    padding: 11px;
    border-width: 1px;
}

button {
    margin: 0 0 0 86px;
    font-size: 15px;
    border-width: 1px;
}

input {
    width: 205px;
    margin: 0 0 15px 68px;
}

textarea {
    width: 205px;
    height: 109px;
    margin: -13px 0 0 85px;
}

label {
    width: 68px;
}
}