@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700|Maven+Pro|Quicksand:300,500');

body {
    color: #b3b3b3;
}

#bkgd {
    width: 100%;
    height: 1440px;
    background-image: url('../img/bkgd-pattern1.png');
    background-repeat: repeat;
/*    background-size: auto;*/
    background-image: url('../img/bkgd-pattern1.png'),
    -webkit-linear-gradient(left, #89253e, #3a6186);
    background-image: url('../img/bkgd-pattern1.png'),
    -moz-linear-gradient(left, #89253e, #3a6186);
    background-image: urlurl('../img/bkgd-pattern1.png'),
    -o-linear-gradient(left, #89253e, #3a6186);
    background-image: urlurl('../img/bkgd-pattern1.png'),
    linear-gradient(to right, #89253e, #3a6186);
    background-blend-mode: overlay;
}

.home-container {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 47.5vw;
    height: 100%;
}

.fortyfive-logo {
    position: absolute;
    margin: 1.51vw 0 0 0;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    background-image: url('../img/fortyfive-icon2.png');
    background-repeat: no-repeat;
    background-size: 6.6vw;
    background-position: center;
}

.vert-line {
    position: absolute;
    margin: 7.7vw 0 0 0;
    width: 1px;
    height: 2.5vw;
    background-color: #b3b3b3;
}

.horiz-line {
    position: absolute;
    margin: 10.2vw 0 0 0;
    width: 35vw;
    height: 1px;
    background-color: #b3b3b3;
}

#djdan-logo {
    position: absolute;
    margin: 11.5vw 0 0 0;
    width: 35vw;
    height: 8vw;
    background-image: url('../img/dan-logo1.png');
    background-repeat: no-repeat;
    background-size: 18.6vw;
    background-position: center;
}

#social-links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20.5vw 0 0 0;
    width: 35vw;
    height: 4vw;
}

#fb {
    order: 0;
    width: 3vw;
    height: 3vw;
    background-image: url('../img/fb-icon1.png');
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
}

#ig {
    order: 1;
    width: 3vw;
    height: 3vw;
    background-image: url('../img/ig-icon1.png');
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
}

#sc {
    order: 2;
    width: 4vw;
    height: 3vw;
    background-image: url('../img/sc-icon1.png');
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: center;
}

#tw {
    order: 3;
    width: 3.5vw;
    height: 3vw;
    background-image: url('../img/tw-icon1.png');
    background-repeat: no-repeat;
    background-size: 3.5vw;
    background-position: center;
}

#menu-cont {
    /*    font-family: 'Miriam Libre', sans-serif;*/
    /*    font-family: 'Amiko', sans-serif;*/
    /*    font-family: 'Palanquin', sans-serif;*/
    /*    font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    /*    font-family: 'Cabin', sans-serif;*/
    /*    font-family: 'Maven Pro', sans-serif;*/
    font-weight: 500;
    position: absolute;
    margin: 24.7vw 0 0 0;
    font-size: 1.4vw;
    letter-spacing: .05rem;
    display: inline-flex;
    width: 35vw;
    height: 20%;
}

#menu1 {
    margin-right: auto;
    align-self: flex-start;
}

#menu2 {
    margin-left: auto;
    align-self: flex-start;
}

ul {
    width: 14vw;
    border: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    border-radius: 5px;
}

li {
    padding-top: .6vw;
    margin-bottom: .6vw;
    text-align: center;
    width: 100%;
    border-top: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    cursor: pointer;
}

li p {
    transition: .1s ease-in-out;
/*
    margin: 0 !important;
    padding: 0 !important;
*/
}

li p:hover {
    color: white;
    transform: scale(1.1);
}

.top-li {
    border-top: none;
}

.vert-line-menu {
    position: relative;
    margin: 0 auto 0 auto;
    width: 1px;
    height: 2.5vw;
    background-color: #b3b3b3;
}

.horiz-line-menu {
    position: absolute;
    margin: 0;
    width: 35vw;
    height: 1px;
    background-color: #b3b3b3;
}

/*BIO SECTION//////////////////////////////////////////*/

.section-cont {
    display: flex;
    justify-content: center;
}

#bio-pg, #tour-pg, #gallery-pg {
    z-index: 1;
/*    position: absolute;*/
    margin: 2vw auto 0 auto;
    width: 50vw;
    height: auto;
    border-radius: .8vw;
    background-color: #1f1f1f;
}

.close-button {
    position: relative;
    left: 47vw;
/*    float: right;*/
    margin: .5vw;
    font-size: 1.79vw;
    border-radius: 50%;
    cursor: pointer;
}

.close-button:hover {
    background-color: #414141;
}

.sect-header {
    position: relative;
    top: .2vw;
    /*    font-family: 'Miriam Libre', sans-serif;*/
    font-family: 'Amiko', sans-serif;
    /*    font-family: 'Palanquin', sans-serif;*/
    /*    font-family: 'Fjalla One', sans-serif;*/
    /*    font-family: 'Quicksand', sans-serif;*/
    /*    font-family: 'Cabin', sans-serif;*/
    /*    font-family: 'Maven Pro', sans-serif;*/
    font-weight: 500;
    margin: -.7vw 1vw 1vw 1vw;
    font-size: 1.9vw
}

hr {
    border: none;
    margin: 1vw 1vw 1vw 1vw;
    height: 1px;
    background-color: #b3b3b3;
}

/*BIO CONTENT//////////////////////////////////////////*/

#bio-cont, #tour-cont, #gallery-cont {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: .5vw 1vw 1vw 1vw !important;
    width: 48vw;
    
        /*    font-family: 'Miriam Libre', sans-serif;*/
    /*    font-family: 'Amiko', sans-serif;*/
    /*    font-family: 'Palanquin', sans-serif;*/
    /*    font-family: 'Fjalla One', sans-serif;*/
    /*    font-family: 'Quicksand', sans-serif;*/
    /*    font-family: 'Cabin', sans-serif;*/
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: 1.18vw;
    font-weight: 300;
}

#dan-pic {
    order: 0;
    width: 20vw;
    height: 32vw;
    background-image: url(../img/dan-bio-pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#dan-bio {
    order: 1;
    width: 26vw;
}

#dan-bio-text {
        letter-spacing: -.02vw !important;
    line-height: 1.2vw !important;
}

/*TOUR CONTENT//////////////////////////////////////////*/
iframe {
    width: 47.9vw;
    height: 60vw;
}