@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body {
        color: #b3b3b3;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

#bkgd {
    width: 100%;
    height: 1440px;
    background-image: url('img/bkgd-pattern1.png');
    background-repeat: repeat;
    /*background-size: cover;*/
    background-image: url('img/bkgd-pattern1.png'),
    -webkit-linear-gradient(left, #89253e, #3a6186);
    background-image: url('img/bkgd-pattern1.png'),
    -moz-linear-gradient(left, #89253e, #3a6186);
    background-image: urlurl('img/bkgd-pattern1.png'),
    -o-linear-gradient(left, #89253e, #3a6186);
    background-image: urlurl('img/bkgd-pattern1.png'),
    linear-gradient(to right, #89253e, #3a6186);
    background-blend-mode: overlay;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 47.5vw;
    height: 100%;

/*    background-color: aliceblue;*/
}

.fortyfive-logo {
    position: absolute;
    margin: 1.51vw 0 0 0;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #b3b3b3;
        background-image: url('img/fortyfive-icon1.png');
    background-repeat: no-repeat;
    background-size: 5.1vw;
    background-position: center;
}

.vert-line {
        position: absolute;
    margin: 7.8vw 0 0 0;
    width: 2px;
    height: 2.5vw;
    background-color: #b3b3b3;
}

.horiz-line {
            position: absolute;
    margin: 10.2vw 0 0 0;
    width: 35vw;
    height: 2px;
    background-color: #b3b3b3;
}

#djdan-logo {
        position: absolute;
    margin: 11.5vw 0 0 0;
        width: 35vw;
    height: 8vw;
            background-image: url('img/dan-logo1.png');
    background-repeat: no-repeat;
    background-size: 18.6vw;
    background-position: center;
}

#social-links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
/*    position: absolute;*/
    margin: 20.5vw 0 0 0;
    width: 35vw;
    height: 4vw;
}

#fb {
    order: 0;
/*    position: absolute;*/
   width: 3vw;
    height: 3vw;
            background-image: url('img/fb-icon1.png');
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
}

#ig {
    order: 1;
/*    position: absolute;*/
   width: 3vw;
    height: 3vw;
            background-image: url('img/ig-icon1.png');
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
}

#sc {
    order: 2;
/*    position: absolute;*/
   width: 4vw;
    height: 3vw;
            background-image: url('img/sc-icon1.png');
    background-repeat: no-repeat;
    background-size: 4vw;
    background-position: center;
}

#tw {
    order: 3;
/*    position: absolute;*/
   width: 3.5vw;
    height: 3vw;
            background-image: url('img/tw-icon1.png');
    background-repeat: no-repeat;
    background-size: 3.5vw;
    background-position: center;
}

#menu-cont {
        position: absolute;
    margin: 24.7vw 0 0 0;
/*    font-size: 1.3rem;*/
    font-size: 1.4vw;
    letter-spacing: .05rem;
    display: inline-flex;
/*    justify-content: center;*/
    width: 35vw;
    height: 20%;
}

#menu1 {
    margin-right: auto;
align-self: flex-start;
    
}

#menu2 {
    margin-left: auto;
align-self: flex-start;
}

ul {
    width: 14vw;
    border: solid;
    border-width: 2px;
    border-color: #b3b3b3;
    border-radius: 5px;
    border-top: none;
}

li {
    padding-top: .6vw;
/*    margin-top: 1.2vw;*/
    margin-bottom: .6vw;
    text-align: center;
/*    vertical-align: top;*/
/*    line-height: 1.5rem;*/
    width: 100%;
    border-top: solid;
    border-width: 2px;
    border-color: #b3b3b3;
}

#top-li {
    border-radius: 5px;
}

.vert-line-menu {
        position: relative;
    margin: 0 auto 0 auto;
    width: 2px;
    height: 2.5vw;
    background-color: #b3b3b3;
}

.horiz-line-menu {
            position: absolute;
    margin: 0;
    width: 35vw;
    height: 2px;
    background-color: #b3b3b3;
}